.academics-page {
    display: flex;
    height: 100vh; /* Full height of the viewport */
  }
  
  .academics-container {
    flex: 1;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    margin-left: 250px; /* Adjust based on the sidebar width */
  }
  
  .loading-message,
  .no-data-message {
    font-size: 18px;
    color: #007bff;
    text-align: center;
    margin-top: 20px;
  }
  
  .semester-card {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .semester-card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }